<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<!--配置连接字符串
connectionString属性来获取或设置数据库连接字符串
Data Source服务器名
Initial Catalog数据库名
-->
  <connectionStrings>
    <add 
      name="connStr" 
      connectionString="Data Source=120.79.251.25;Initial Catalog=数据库名;User ID=admin;Password=123123;" 
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
